@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');
@import url('//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css');

:root {
    --first-color: #4070f4;
    --second-color: #0e2431;
    --blue: #7623f4;
    --black: #444;
    --light-color: #777;
    --bg-color: #e6e6e6;
    --border: .1rem solid rgba(0, 0, 0, .4);
    --box-shadow: .4rem .4rem 1rem #ccc,
        -.4rem -.4rem 1rem #fff;
    --box-shadow-inset: .4rem .4rem 1rem #ccc inset,
        -.4rem -.4rem 1rem #fff inset;
}

* {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    background: var(--bg-color);
}

body.active {
    --black: #fff;
    --light-color: #ddd;
    --bg-color: #222;
    --border: .1rem solid rgba(0, 0, 0, .4);
    --box-shadow: .4rem .4rem 1rem #111,
        -.4rem -.4rem 1rem #333;
    --box-shadow-inset: .4rem .4rem 1rem #111 inset,
        -.4rem -.4rem 1rem #333 inset;
}

section {
    min-height: 100vh;
    padding: 2rem;
    margin-left: 20px;
}

.btn {
    margin-top: 1rem;
    display: inline-block;
    padding: 1rem 3.5rem;
    border-radius: .5rem;
    font-size: 1.7rem;
    cursor: pointer;
    background: none;
    color: var(--black);
    box-shadow: var(--box-shadow);
}

.btn:hover {
    box-shadow: var(--box-shadow-inset);
    color: var(--blue);
}

/* Header Section */

.heading {
    text-align: center;
    font-size: 5rem;
    color: var(--black);
    text-transform: uppercase;
    padding-bottom: 2rem;
}

.heading span {
    color: var(--blue);
    text-transform: uppercase;
}

.navbar {
    position: fixed;
    width: 100%;
    z-index: 999;
    padding: 12px 0;
    font-family: 'Ubuntu', sans-serif;
    transition: all 0.3s ease;
    background-color: var(--black);
}

.menu-icon {
    display: none;
}

.close-icon {
    display: none;
}

.navbar.sticky {
    padding: 15px 0;
    background: blue;
}

.navbar .max-width {
    display: flex;
    align-items: center;
}

.navbar .logo a {
    color: black;
    font-size: 35px;
    font-weight: 600;
}

.navbar .logo a span {
    color: black;
    transition: all 0.3s ease;
}

.navbar.sticky .logo a span {
    color: #111;
}

.navbar .menu li {
    list-style: none;
    display: inline-block;
}

.header .navbar .menu a {
    display: inline;
    margin: 1.5rem 0;
    padding: 1rem;
    color: white;
    font-size: 18px;
    margin-left: 50px;
    border-radius: 10px;
}

.header .navbar a:hover {
    border: 1px solid;
    color: white;
    background: #7623f4;
}

/* Header Section End */

/* Menu */
#menu-btn {
    position: fixed;
    top: 1.5rem;
    left: 2rem;
    z-index: 1000;
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    border-radius: 50%;
    font-size: 2rem;
    cursor: pointer;
    box-shadow: var(--box-shadow);
    text-align: center;
    color: var(--black);
    background: var(--bg-color);
    display: none;
}

#menu-btn:hover {
    color: var(--blue);
    box-shadow: var(--box-shadow-inset);
}

/* Menu End */

/* Home Section Start */

.home {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.home .content h3 {
    font-size: 5rem;
    color: var(--black);
    line-height: 1.1;
    text-transform: uppercase;
}

.home .content p {
    font-size: 2rem;
    color: var(--blue);
    padding-bottom: .5rem;
}

.home ul {
    position: absolute;
    top: 67%;
    left: 51%;
    transform: translate(-50%, -50%);
    margin: 0;
    padding: 0;
    display: flex;
}

.home ul li {
    list-style: none;
}

.home ul li a {
    position: relative;
    width: 60px;
    height: 60px;
    display: block;
    text-align: center;
    margin: 0 10px;
    border-radius: 50%;
    padding: 6px;
    box-sizing: border-box;
    text-decoration: none;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
    background: linear-gradient(0deg, #ddd, #fff);
    transition: .5s;
}

.home ul li a:hover {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    text-decoration: none;
}

.home ul li a .fab {
    width: 100%;
    height: 100%;
    display: block;
    background: linear-gradient(0deg, #fff, #ddd);
    border-radius: 50%;
    line-height: calc(60px - 12px);
    font-size: 24px;
    color: #262626;
    transition: .5s;
}

.home ul li:nth-child(1) a:hover .fab {
    color: #3b5998;
}

.home ul li:nth-child(2) a:hover .fab {
    color: #00aced;
}

.home ul li:nth-child(3) a:hover .fab {
    color: #007bb6;
}

.home ul li:nth-child(4) a:hover .fab {
    color: #e4405f;
}

/* Home Section End */

/* About Section Start */
.about .about-content .about-text {
    flex: 0 0 100%;
    max-width: 100%
}

.about .about-content .about-text h3 {
    font-size: 24px;
    margin-bottom: 15px;
    font-weight: 700;
    color: var(--black);
}

.about .about-content .about-text h3 span {
    color: var(--black);
}

.about .about-content .about-text p {
    font-size: 16px;
    line-height: 25px;
    color: var(--black);
}

.about .about-content .personal-info {
    flex: 0 0 60%;
    max-width: 60%;
    margin-top: 40px;
}

.about .about-content .personal-info .info-item {
    flex: 0 0 50%;
    max-width: 50%;
}

.about .about-content .personal-info .info-item p {
    font-weight: 600;
    padding: 10px 0;
    font-size: 16px;
    color: var(--black);
    border-bottom: 1px solid var(--bg-black-50);
}

.about .about-content .personal-info .info-item p span {
    font-weight: 400;
    color: var(--text-black-700);
    margin-left: 4px;
    display: inline-block;
}

.about .about-content .personal-info .info-item p .myemail {
    text-transform: lowercase;
}

.about .about-content .personal-info .buttons {
    margin-top: 30px;
}

.about .about-content .personal-info .buttons .btn {
    margin-right: 15px;
    margin-top: 10px;
}

.about .himg img {
    position: absolute;
    right: 10%;
    margin: 1rem 0;
    border: 2px solid;
    background: gray;
    border-radius: 10%;
    height: 20rem;
    width: 20rem;
    box-shadow: var(--box-shadow);
}

/* About Section End */

/* Skills Scetion Start */

.skills .row .progress {
    flex: 1 1 40rem;
}

.skills .row .progress h3 {
    color: var(--black);
    font-weight: normal;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.skills .row .progress h3 span {
    width: 67%;
}

.skills .row .progress h3 .span {
    width: 8%;
}

.skills .row .col-lg-6 {
    position: absolute;
    margin-top: -217px;
    right: 10rem;
}

.skills .row .progress .bar {
    box-shadow: var(--box-shadow);
    border-radius: 5rem;
    width: 500px;
    height: 2rem;
    padding: .5rem;
    margin: 1rem 0;
}

.skills .row .progress .bar span {
    display: block;
    height: 90%;
    background: var(--blue);
    border-radius: 5rem;
}

.skills .row .progress .bar-2-1 span {
    width: 70%;
}

.skills .row .progress .bar-2-2 span {
    width: 80%;
}

.skills .row .progress .bar-2-3 span {
    width: 60%;
}

.skills .row .progress .bar-2-4 span {
    width: 60%;
}

.skills .row .progress .bar-1-1 span {
    width: 55%;
}

.skills .row .progress .bar-1-2 span {
    width: 50%;
}

.skills .row .progress .bar-1-3 span {
    width: 50%;
}

.skills .row .progress .bar-1-4 span {
    width: 50%;
}

/* Education */
.skills .education {
    flex: 0 0 50%;
    max-width: 50%;
    margin-top: 40px;
}

.skills h3.title {
    font-size: 24px;
    margin-bottom: 30px;
    font-weight: 700;
    color: var(--black);
}

.skills .timeline .timeline-item {
    margin: 90px auto;
    border-left: 2px solid black;
    position: relative;
    padding-left: 37px;
}

.circle-dot {
    height: 16px;
    width: 16px;
    background-color: #7623f4;
    position: absolute;
    left: 0;
}

.skills .timeline .timeline-date {
    font-weight: 400;
    font-size: 14px;
    margin-bottom: 12px;
    color: var(--black);
}

.skills .timeline .timeline-date .fa {
    margin-right: 5px;
}

.skills .timeline .timeline-title {
    font-weight: 700;
    font-size: 18px;
    text-transform: capitalize;
    color: var(--black);
}

.skills .timeline .timeline-text {
    line-height: 25px;
    font-size: 16px;
    text-align: justify;
    color: var(--black);
}

/* Skills Section End */

/* Portfolio Project Section Start */

.portfolio .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
    gap: 2rem;
}

.portfolio .box-container .box {
    height: 25rem;
    border-radius: .5rem;
    overflow: hidden;
    box-shadow: var(--box-shadow);
    position: relative;
    border: 1rem solid transparent;
}

.portfolio .box-container .box img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.portfolio .box-container .box .content {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: var(--bg-color);
    display: grid;
    place-items: center;
    transform: scale(0);
}

.portfolio .box-container .box .content .myLink {
    border-bottom: 2px solid;
}

.portfolio .box-container .box #bank {
    position: relative;
    right: 0;
}

.portfolio .box-container .box:hover .content {
    transform: scale(1);
}

.portfolio .box-container .box .content h3 {
    font-size: 2.5rem;
    text-transform: uppercase;
    transform: translateY(-5rem);
    opacity: 0;
    transition-delay: .3s;
    color: blue;
}

.portfolio .box-container .box .content #hdms {
    font-size: 2.5rem;
    text-transform: uppercase;
    transform: translateY(-1rem);
    text-align: center;
    transition-delay: .3s;
    color: blue;
}

.portfolio .box-container .box:hover .content h3 {
    transform: translateY(0rem);
    opacity: 1;
}

/* Portfolio Project Section End */

/* Contact Section Start */

.contact .contact-info-item .icon .fa {
    font-size: 25px;
    color: var(--black);
}

.contact .contact-info-item h4 {
    font-size: 18px;
    font-weight: 700;
    color: var(--black);
    text-transform: capitalize;
    margin: 15px 0 5px;
}

.contact .contact-info-item p {
    font-size: 16px;
    line-height: 25px;
    color: var(--black);
    font-weight: 400;
}

.contact .contact-info-item .myemail {
    text-transform: lowercase;
}

.contact form {
    position: absolute;
    margin: 1rem auto;
    max-width: 50rem;
    right: 5%;
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    padding: 2rem;
    border: 1.5px solid black;
}

.contact form .box {
    padding: 1rem 1.5rem;
    width: 100%;
    background: none;
    color: var(--black);
    font-size: 1.6rem;
    text-transform: none;
    margin: .7rem 0;
    box-shadow: var(--box-shadow);
    border-radius: .5rem;
    border: 1.5px solid black;
}

.contact form .box:hover {
    box-shadow: var(--box-shadow-inset);
    color: var(--blue);
}

.contact form textarea {
    height: 20rem;
    resize: none;
}

.contact form .box:focus {
    box-shadow: var(--box-shadow-inset);
}

.contact .icona ul {
    position: absolute;
    top: 530%;
    left: 10%;
    transform: translate(-50%, -50%);
    margin: 0;
    padding: 0;
    display: flex;
}

.contact .icona ul li {
    list-style: none;
}

.contact .icona ul li a {
    position: relative;
    width: 40px;
    height: 40px;
    display: block;
    text-align: center;
    margin: 0 5px;
    border: 1.5px solid var(--black);
    text-decoration: none;
    transition: .5s;
}

.contact .icona ul li a:hover {
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
    text-decoration: none;
}

.contact .icona ul li a .fab {
    width: 100%;
    height: 100%;
    display: block;
    background: linear-gradient(0deg, #fff, #ddd);
    line-height: calc(70px - 30px);
    font-size: 24px;
    color: #262626;
    transition: .5s;
}

.contact .icona ul li:nth-child(1) a:hover .fab {
    color: #3b5998;
}

.contact .icona ul li:nth-child(2) a:hover .fab {
    color: #00aced;
}

.contact .icona ul li:nth-child(3) a:hover .fab {
    color: #007bb6;
}

.contact .icona ul li:nth-child(4) a:hover .fab {
    color: #e4405f;
}

/* Contact Section End */

.credits {
    font-size: 2rem;
    text-align: center;
    padding: 2.5rem 1rem;
    margin-top: 1rem;
    border-top: var(--border);
    color: var(--black);
}

.credits span {
    color: var(--blue);
}

/* media queries  */

@media (max-width:768px) {

    html {
        font-size: 55%;
    }

    body {
        padding-left: 0;
    }

    .header {
        /* left: -250%; */
        left: 0;
    }

    .header.active {
        left: 0%;
        transition: .4s linear;
    }

    #menu-btn {
        display: flexbox;
        padding: 10px;
    }

}

@media (max-width:576px) {

    html {
        font-size: 50%;
    }

    body {
        padding-left: 0;
    }

    /* Navbar */
    .navbar {
        width: 250px;
        height: 640px;
        display: none;
        transition: display 0.3s ease;
        text-align: center;
    }

    .menu-container {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 45px;
        background-color: var(--black);
        z-index: 1;
    }

    .menu-icon {
        display: block;
        position: fixed;
        top: 1%;
        left: 3%;
        cursor: pointer;
        color: white;
    }

    .close-icon {
        display: none;
        position: absolute;
        top: 2%;
        left: 4%;
        cursor: pointer;
        color: white;
    }

    .header .navbar .menu {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        top: 15%;
    }

    .header .navbar .menu li {
        padding: 20px;
    }

    .header .navbar .menu a {
        margin: 10px 40px;
        border: 1px solid white;
        border-radius: 5px;
        padding: 8px 35px;
        box-sizing: border-box;
    }

    .header .navbar a:hover {
        background-color: initial;
        color: white;
    }

    .header .navbar .menu .active-link {
        background-color: #7623f4;
        color: white;
    }

    .menu-btn:target {
        background-color: #7623f4;
        color: white;
    }

    /* Home */
    .home .content h3 {
        font-size: 30px;
    }

    .home ul {
        top: 70%;
    }

    .home ul li a {
        width: 50px;
        height: 50px;
    }

    .home ul li a .fab {
        line-height: calc(50px - 10px);
    }


    /* About */
    .about .himg img {
        position: absolute;
        margin-bottom: 50%;
        left: 100px;
    }

    .about .row .personal-info {
        position: static;
        margin-top: 60%;
    }

    .about .row .personal-info .row .info-item p {
        font-size: 15px;
    }

    .about .row .personal-info .row .info-item p span {
        position: absolute;
        padding-left: 0px;
    }

    /* .about .row .personal-info .about-text p {
        display: inline;
    } */

    /* Skills */
    /* progress1 */
    .skills .row .progress {
        position: absolute;
        left: 5px;
    }

    .skills .row .progress .bar {
        width: 345px;
        padding: .5rem;
    }

    .skills .row .progress h3 span {
        width: 10%;
    }

    /* progress2 */
    .skills .row .col-lg-6 {
        position: absolute;
        margin-top: 53%;
        left: 0;
    }

    .skills .col-lg-6 .progress {
        line-height: 18px;
    }

    .skills .row .col-lg-6 .progress h3 .span {
        width: 10%;
    }

    .skills .row .col-lg-6 .progress .bar {
        width: 345px;
        padding: .5rem;
    }

    /* Education */
    .skills .row .education {
        margin-top: 410px;
    }

    /* Contact */
    .contact .row {
        position: absolute;
    }

    .contact form {
        position: absolute;
        left: 20px;
        margin-top: 470px;
    }

    .contact .icona ul {
        position: absolute;
        top: 110%;
        margin-left: 35%;
    }

    /* credits */
    .credits {
        margin-top: 40rem;
    }

    .credits span {
        color: var(--blue);
    }
}
